<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.secondbrain.autosync</string>


    <key>ProgramArguments</key>
    <array>
      <string>/Users/christoph/dotfiles/bin/.local/scripts/auto_sync_second_brain.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/auto-sync-second-brain.out</string>

    <key>StandardErrorPath</key>
    <string>/tmp/auto-sync-second-brain.err</string>
  </dict>
</plist>
